<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ece435.bluetoothfiletransfer" >

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ConfigurationActivity"
            android:label="@string/configuration" >
        </activity>
        <activity
            android:name=".PairActivity"
            android:label="@string/paired_devices" >
        </activity>
        <activity
            android:name=".FileActivity"
            android:label="@string/send_receive" >
        </activity>
        <activity
            android:name=".WifiConfigActivity"
            android:label="@string/wificonfig" >
        </activity>
        <activity
            android:name=".WifiListNetworkActivity"
            android:label="@string/wifilistnetwork" >
        </activity>
        <activity
            android:name=".WifiServerActivity"
            android:label="@string/wifiserver" >
        </activity>
        <activity
            android:name=".WifiClientActivity"
            android:label="@string/wificlient" >
        </activity>
        <activity
            android:name=".WifiMainActivity"
            android:label="@string/wifihome" >
        </activity>
        <activity
            android:name=".TitleActivity"
            android:label="@string/home" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
